.friend{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    border: 2px solid #000;
    border-radius: 5px;
    justify-content: space-between;
}

.friends_box{
    margin: auto;
    width: 80%;
}
.friend img{
    width: 70px;
    height: 70px;
}

#username{
    margin: 0;
    font-size: 16px;
}

.cirlce{
    width: 15px;
    height: 15px;
    border-radius: 50px;

}

.disconected{
    background-color: rgb(226, 75, 75);
}

.connected{
    background-color: rgb(59, 230, 150);
}

.status .cirlce,.status p{
    margin: 0;
    font-size: 15px;
    
}

.status .cirlce{
    margin-top: 4px;
    margin-right: 5px;
    
}

form button{
    margin-right: 10px;
    padding: 5px 10px;
}

.status{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.name_status{
    display: flex;
    flex-direction: column;
}

.boxy_data{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.coldown p{
    margin: 0;
    font-size: 12px;
    padding: 5px 10px;
    color: #fff;
}

.coldown{
    border: 1px solid #000;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #9e9e9ee1;
}

.advice{
    text-align: center;
    color: rgb(187, 44, 44);
    display: flex;
    flex-direction: row;
}

.advice a,p{margin: 0;}