.current{
    width: 250px;
    height: 150px;
    margin: auto;
    text-align: center;
    border: 2px solid #000;
    margin-top: 10px;
    border-radius: 5px;
}

.current a{
    text-decoration: none;
    color: #000;
}

.waiting{
    font-size: 15px;
}

.enemie{
    width: 70px;
}

.current h3{
    font-size: 20px;
    border-bottom: 2px solid #000;
    margin: 0;
}

.current p{
    margin: 5px 0 0 0;
}

.current #gif{
    width: 30px;
    margin-top: 5px;
}


.principal_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.third_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sub_box{
    margin-left: 10px;
}

#trophy{
    width: 18px;
    height: 18px;
    margin-top: 5px;
}

.name_acc{
    width: 100%;
    text-align: center;
}

#text{
    margin-bottom: 10px;
}