.current{
    width: 250px;
    height: fit-content;
    margin: auto;
    text-align: center;
    border: 2px solid #000;
    margin-top: 10px;
    border-radius: 5px;
}

.current a{
    text-decoration: none;
    color: #000;
}

.waiting{
    font-size: 15px;
}

.enemie{
    width: 80px;
}

.current h3{
    font-size: 20px;
    border-bottom: 2px solid #000;
    margin: 0;
}

.current p{
    margin: 5px 0 0 0;
}

.current #gif{
    width: 30px;
    margin-top: 5px;
}


.principal_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main_container{
    display: flex;
    flex-direction: row;
}

.all_players{
    width: 100px;
    height:102px;
    border: 2px solid #000;
}

.all_players .box{
    width: 50px;
    height: 50px;
}

.part_1{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #000;
}

.part_2{
    display: flex;
    flex-direction: row;
}
.box img{
    width: 100%;
    height: 100%;
}

.box_1{
    border-right: 2px solid #000;
}

.border_2{
    border-right: 2px solid #000;
}

#text{
    margin-bottom: 10px;
}

.inf{
    border: 2px solid #000;
    align-items: center;
    width: 150px;
    margin: auto;
    padding: 10px 20px;
    border-radius: 10px;
}

.inf .third_box{
    height:fit-content;
    height: 20px;
}

.inf .sub_box{
    height:fit-content;
    height: 25px;
    margin-bottom: 15px;
}

.inf .sub_box p{
    margin: 0;
}

#vs{
    text-align: center;
    font-size: 40px;
    margin: 10px 0;
}

.waiting{
    text-align: center;
    margin: auto;
}
.waiting p{
    font-size: 20px;
    font-weight: 700;
}
.waiting img{
    width: 100px;
    display: flex;
    margin: auto;
}

.secundary_box{
    margin: auto;
}

#message{
    color: rgb(224, 77, 77);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

/*/History PArt/*/
.box_matches{
    border-radius: 10px;
    width: 80%;
    height: 210px;
    border: 2px solid #000;
    margin: auto;
    margin-top: 20px;
    overflow-y: scroll;
}
.picture{
    width: 36px;
    height: 36px;
    display: block;
    
}

.casual{
    display: flex;
    flex-direction: row;
}

.casual p{
    margin: 0%;
}

.allresult_players{
    display: flex;
    flex-direction: row;
}
.half_1{
    border-right: 2px solid #000;
}

.half_1,.half_2{
    border-top:2px solid #000;
}

.half_2{
    border-right:2px solid #000;
}

.inf_casual_match{
    text-align: center;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
}

.main_history h2{
    text-align: center;
}

.casual{
    border-bottom: 2px solid #000;
}

.ranked{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: hidden;
    border-bottom: 2px solid #000;
    height: 70px;
}


.looser{
    width: fit-content;
    height: 100%;
}
.winner{
    width: fit-content;   
}

.profile_img{
    margin-top: 5px;
    width: 55px;
    height: 55px;
}

.subcointainer_2{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: auto;
    overflow-x: hidden;
    align-items: center;
    
}

.ranked_texti p{
    margin: 0 12px;
    text-align: center;
    font-weight: 600;
}
#text_display_winlost{
    font-size: 12px;

}

.won{
   background-color: rgb(67, 223, 67); 
}

.lost{
    background-color: rgb(221, 67, 67);
}

.link_results_match{
    text-decoration: none;
    color: #000;
}
@media only screen and (min-width: 700px) {
    .box_matches{
        width: 500px;
    }

    .profile_img{
        width: 65px;
        height: 65px;
    }

    .ranked{
        height: 75px;
    }
}