body{
    text-align: center;
}

.choose{
    display: flex;
    flex-direction: row;
}

.active{
    background-color: #b1b1b1d8;
}

#party{
    width: 50%;
    border-left: 1px solid #000;
    border-bottom: 2px solid #000;
    text-decoration: none;
    color: #000;
    
}

.a_friend{
    text-decoration: #000;
    color: #000;
}


#friendy{
    width: 50%;
    border-right: 1px solid #000;
    border-bottom: 2px solid #000;
    text-decoration: none;
    color: #000;
}

.inf_friend img{
    width: 70px;
    height: 70px;
    border-top-left-radius:8px;
    border-bottom-left-radius: 8px;
}
.friend_box{
    display: flex;
    width: 80%;
    align-items: center;
    margin: auto;
    border: 2px solid #000;
    margin-top: 20px;
    border-radius: 10px;
    justify-content: space-between;
    overflow-x: hidden;
}
.inf_friend{
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
}

#username{
    margin: 0 20px;
    font-size: 16px;
}

button{
    padding: 5px 10px;
}

.status_sender{
    display: flex;
    flex-direction: column;
}

.cirlce{
    width: 15px;
    height: 15px;
    border-radius: 50px;

}

.status{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.disconected{
    background-color: rgb(226, 75, 75);
}

.connected{
    background-color: rgb(59, 230, 150);
}

.status .cirlce,.status p{
    margin: 0;
    font-size: 15px;
    
}

.status .cirlce{
    margin-top: 4px;
    margin-right: 5px;
    
}

.join_form p{
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    margin-left: 15px;
}


.in_match p{
    font-size: 8px;
    margin: 0;
    width: 50px;
}

.in_match{
    background-color: red;
    border-radius: 8px;
    margin-right: 10px;
    
}
@media only screen and (min-width: 700px) {
    #username{
     font-size: 20px;
    }
    .friend_box{
        width: 500px;
    }
 }