.boxy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.img_container{
    width: 100%;
    height: 200px;
    background-color: red;
}

.edit_box{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: auto;
    align-items: center;
}


#a_edit img{
    margin: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    margin-left: 40px;
    
}


.background_a img{
    background-color: rgba(215, 212, 212, 0.319);
    width: fit-content;
}

.background_a{
    position: absolute;
    width: 30px;
    height: 30px;
    right: -99;
}
.img_container img{
    width: 100%;
    height: 100%;
}
.profile_picture{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    margin-top: 210px;
    width: 100%;
}

.profile_picture h2{
    margin: 0;
    text-align: center;
    font-size: 45px;
    
}


.profile_picture #profile_picture{
    width: 150px;
    height: 150px;
    border: 3px solid #303030;
    border-radius: 15px;
    margin: auto;
}

.history_match{
    border-radius: 15px;
    display: inline-block;
    width: 65%;
    height: 200px;
    border: 2px solid #000;
    margin: auto;
    margin-top: 140px;
}

.history_match p{
    margin: 0;
    font-weight: 800;
}

.principal_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#top-div{
    border-bottom: 2px solid #000;
}

.box_history{
    background-color: rgba(35, 201, 35, 0.705);
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px solid #000;
}

.sent p{
    margin: 0;
    padding: 2px 5px;
    font-size: 12px;
}
.sent{
    border: 2px solid #000;
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    background-color: rgb(138, 226, 230);
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 20px;
}

form button{
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 20px;
}
@media only screen and (min-width: 600px) {
    .boxy{
        text-align: center;
    }
    .img_container .cover{
        width: 70%;
        height: 400px;
        object-fit: cover;
        
    }

    .img_container{
        height: 350px;
        overflow: hidden;
        border-bottom: 3px solid #2e2e2ead;
        background-color: rgba(202, 202, 202, 0.486);
    }

    .profile_picture{
        margin-top: 300px;
    }
    
    .history_match{
        width: 300px;
    }

}