h1{
    text-align: center;
}

.principal_box{
    width: 85%;
    height: fit-content;
    margin: auto;
}

.match{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    border: 2px solid #000;
    height: fit-content;
    border-radius: 10px;

}

.principal_box a{
    text-decoration: none;
    color: #000;
}

.match img{
    border-bottom-left-radius: 10px;
    width: 50px;
}

.inf p{
    width: 100px;
    overflow-x: hidden;
    margin: 0;
    text-align: center;
}

.inf{
    margin-right: 20px;
}

.match_inf{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.match_inf p{
    width: 200px;
    margin: 0;
}

.first_box{
    display: flex;
    flex-direction: column;
}

#gif{
    margin: auto;
    width: 100px;
}

.form_friend{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.form_friend input{
    padding: 10px 0;
}

.form_friend button{
    padding: 0 10px;
    margin-left: 10px;
}


.no_search img{
    width: 200px;
}

.no_search {
    text-align: center;
}

.no_search h2{
    margin: 15px 0 0 0;
}

.inf_friend img{
    width: 70px;
    height: 70px;
    border-top-left-radius:8px;
    border-bottom-left-radius: 8px;
}
.friend_box{
    display: flex;
    width: 70%;
    align-items: center;
    margin: auto;
    border: 2px solid #000;
    margin-top: 20px;
    border-radius: 10px;
    justify-content: space-between;
}
.inf_friend{
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
}

#username{
    margin: 0 0;
    font-size: 16px;
    overflow-x: hidden;
    width: 100%;
    text-align: center;
}

.a_account{
    text-decoration: None;
    color: #000;
}

.centered_inf{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.head_match{
    border-bottom: 2px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.head_match p{
    margin: 0;
}

.head_match #time{
    margin-left: 10px;
}

.match_all_inf{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clasify{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
}

.clasify input[type=search]{
    width: 250px;
    height: 40px;
}

.clasify input[type=checkbox]{
    transform: scale(1.5);
    margin-right: 5px;
}

.clasify label{
    font-size: 20px;
    margin-right: 5px;
}

.clasify button{
    padding: 5px 10px;
}
@media only screen and (min-width: 500px) {
    .principal_box{
        width: 500px;
    }
    .centered_inf{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    .match_inf{
        width: fit-content;
        margin-left: auto;
        overflow-y: hidden;
        margin: 0;
    }

    .match_inf p{
        width: fit-content;
    }
}