<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'edit.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Edit Profile</h1>
    <div class="form-container">
        <form method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <div class="button_div">
                <button class="button_submit" type="submit">Change</button>
            </div>
        </form>
    </div>
</body>
</html>