<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'history.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="current">
        <h3>Current Match</h3>
        {% if current %}
            <a href="{% url 'match' current.id %}">
            {% if current.Joined.all.count >= 3 %}
                <div class="main_container">
                    <div class="principal_box">
                        <div class="all_players">
                            <div class="part_1">
                                <div class="box_1 box">
                                    <img src="{{current.Creator.profile_picture.url}}" alt="">
                                </div>
                                <div class="box">
                                    <img src="{{current.Joined.first.profile_picture.url}}" alt="">
                                </div>
                            </div>
                            <div class="part_2">
                                {% for player in current.Joined.all %}
                                    {% if forloop.counter > 1%}
                                        <div class="box border_2 {% if forloop.counter == 2 %} border_2 {% endif%}">
                                            <img src="{{player.profile_picture.url}}" alt="">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="secundary_box">
                        <p>{{current.court}}</p>
                        <p>{{current.want_to_start|date:"M.d h:i A"}}</p>
                    </div>
                </div>
            {% else %}
                <div class="waiting">
                    <p>{{current.court.Name}}</p>
                    <p>{{current.date_created}}</p>
                    <p>Players: <b>{{current.Joined.all.count|add:1}}</b>/4</p>
                    <p style="color: rgb(32, 135, 204);">Waiting for more players</p>
                    <img id="gif" src="../../media/all_stuff/loading.gif" alt="">
                </div>
            {% endif %}
            </a>
        {% else %}
            <p id="notfound">There isn't any Matches right now</p>
            <img id="gif" src="../../media/all_stuff/tennis.gif" alt="">
        {% endif %}
    </div>
    {% for message in messages%}
        <p id="message">{{message}}</p>
    {% endfor %}
    <div class="main_history">
        <h2>History Matches</h2>
        <div class="box_matches">
            {% if history_matches|length > 0 %}
                {% for result in history_matches  %}
                    <a class="link_match" href="">
                    {% if result.target_match.Creator == account  %}
                        {% if result.winner == account %}
                            <div class="match_box  winner">
                                <div class="texti">
                                    <p>Won</p>
                                    <div class="trophy_box">
                                        <img id="trophy" src="../../media/all_stuff/Trophy.png" alt="">
                                        <p>+35</p>
                                    </div>
                                </div>
                        {% else %}
                            <div class="match_box looser">
                                <div class="texti">
                                    <p>Lost</p>
                                    <div class="trophy_box">
                                        <img id="trophy" src="../../media/all_stuff/Trophy.png" alt="">
                                        <p>-35</p>
                                    </div>
                                </div>
                        {% endif %}
                                <img src="{{result.target_match.Joined.profile_picture.url}}" alt="">
                                <div class="match_inf">
                                    <p>{{result.target_match.Joined}}</p>
                                    <p>{{result.creator_score}}-{{result.joined_score}}</p>
                                    <p id="date">{{result.target_match.date_created}}</p>
                                </div>
                            </div>

                    {% else %}
                        {% if result.winner == account %}
                        <div class="match_box  winner">
                            <div class="texti">
                                <p>Won</p>
                                <div class="trophy_box">
                                    <img id="trophy" src="../../media/all_stuff/Trophy.png" alt="">
                                    <p>+35</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="match_box looser">
                                <div class="texti">
                                    <p>Lost</p>
                                    <div class="trophy_box">
                                        <img id="trophy" src="../../media/all_stuff/Trophy.png" alt="">
                                        <p>-35</p>
                                    </div>
                                </div>
                        {% endif %}
                        <img src="{{result.target_match.Creator.profile_picture.url}}" alt="">
                                <div class="match_inf">
                                    <p>{{result.target_match.Creator}}</p>
                                    <p>{{result.joined_score}}-{{result.creator_score}}</p>
                                    <p id="date">{{result.target_match.date_created}}</p>
                                </div>
                            </div>
                    {% endif %}
                    </a>
                {% endfor %}

            {% else %}
                <p>No results</p>
            {% endif %}
        </div>
    </div>
</body>
</html>