<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'history.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="current">
        <h3>Current Match</h3>
        {% if current %}
            <a href="{% url 'match' current.id %}">
            {% if current.Joined.all.count >= 3 %}
                <div class="main_container">
                    <div class="principal_box">
                        <div class="all_players">
                            <div class="part_1">
                                <div class="box_1 box">
                                    <img src="{{current.Creator.profile_picture.url}}" alt="">
                                </div>
                                <div class="box">
                                    <img src="{{current.Joined.first.profile_picture.url}}" alt="">
                                </div>
                            </div>
                            <div class="part_2">
                                {% for player in current.Joined.all %}
                                    {% if forloop.counter > 1%}
                                        <div class="box border_2 {% if forloop.counter == 2 %} border_2 {% endif%}">
                                            <img src="{{player.profile_picture.url}}" alt="">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="secundary_box">
                        <p>{{current.court}}</p>
                        <p>{{current.want_to_start|date:"M.d h:i A"}}</p>
                        <p>{% if current.started %} Started {% else %}Non Started{% endif %}</p>
                    </div>
                </div>
            {% else %}
                <div class="waiting">
                    <p>{{current.court.Name}}</p>
                    <b><p class="p_match">{% if match.ranked %} Ranked {% else %} Casual {% endif %}</p></b>
                    <p>{{current.want_to_start}}</p>
                    <p>Players: <b>{{current.Joined.all.count|add:1}}</b>/4</p>
                    <p style="color: rgb(32, 135, 204);">Waiting for more players</p>
                    <img id="gif" src="../../media/all_stuff/loading.gif" alt="">
                </div>
            {% endif %}
            </a>
        {% else %}
            <p id="notfound">There isn't any Matches right now</p>
            <img id="gif" src="../../media/all_stuff/tennis.gif" alt="">
        {% endif %}
    </div>
    {% for message in messages%}
        <p id="message">{{message}}</p>
    {% endfor %}
    <div class="main_history">
        <h2>History Matches</h2>
        <div class="box_matches">
            {% if history_matches|length > 0 %}
                {% for result in history_matches  %}
                    <a class="link_results_match" href="{% url 'match_information' result.target_match.id %}">
                    {% if result.type_match == 'ranked' %}
                        <div class="ranked {% if account in result.winner.all %} won {% else %} lost {% endif%}">
                            <p id="ranked_title">Ranked</p>
                            <div class="subcointainer_2">
                                <div class="winner">
                                    {% for player in result.winner.all %}
                                         <img class="profile_img" src="{{player.profile_picture.url}}" alt="">
                                    {% endfor %}
                                 </div>
                                 <div class="ranked_texti">
                                    <p>{% if result.target_match.Creator in result.winner.all %} {{result.creator_score}} - {{result.joined_score}} {% else %} {{result.joined_score}} - {{result.creator_score}} {% endif %}</p>
                                    <p id="text_display_winlost">{% if account in result.winner.all %} won {% else %} lost {% endif %}</p>
                                 </div>
                                 <div class="looser">
                                     {% for player in result.looser.all %}
                                         <img class="profile_img" src="{{player.profile_picture.url}}" alt="">
                                    {% endfor %}
                                 </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="casual">
                            <div class="allresult_players">
                                <div class="half_1">
                                    <div class="img_1">
                                        <img class="picture" src="{{result.target_match.Creator.profile_picture.url}}" alt="">
                                    </div>
                                    <div class="img_2">
                                        <img class="picture" src="{{result.target_match.Joined.first.profile_picture.url}}" alt="">
                                    </div>
                                </div>
                                <div class="half_2">
                                    {% for player in result.target_match.Joined.all %}
                                        {% if forloop.counter > 1 %}
                                            <div class="">
                                                <img class="picture" src="{{player.profile_picture.url}}" alt="">
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="inf_casual_match">
                                <b><p>Casual</p></b>
                                <p>{{result.target_match.court}}</p>
                                <p>started at <b>{{result.target_match.want_to_start|date:"M.d h:i A"}}</b></p>
                            </div>
                        </div>
                    {% endif %}
                    </a>
                {% endfor %}
            {% else %}
                <p>No results</p>
            {% endif %}
        </div>
    </div>
</body>
</html>