<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invite</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'friends.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    {% if any_match %}
    <div class="advice">
        <p>You can't invite other people cause you are in a match now.  <a href="{% url 'match' any_match %}">Match</a></p>
        
    </div>
    {% endif %}
    <div class="friends_box">
        {% if account.friends.all.count > 0 %}
            {% for friend in friends %}
                <div class="friend">
                    <img src="{{friend.profile_picture.url}}" alt="">
                    
                    <div class="name_status">
                        <div class="boxy_data">
                            <p id="username">{{friend}}</p>
                            <div class="status">
                                {% if not friend.last_activity|date:'U' > current_time|date:'U' %}
                                    <div class="cirlce disconected"></div>
                                    <p>Offline</p>
                                {% else %}
                                    <div class="cirlce connected"></div>
                                    <p>Online</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% if any_match %}
                        <div class="coldown">
                            <p>Can't Invite</p>
                        </div>
                    {% elif party == None or party.date|date:'U' < 2min|date:'U' %}
                        <form method="post">
                            {% csrf_token %}
                            <button value="{{friend.id}}" name="invitation">Invite</button>
                        </form>
                    {% else %}
                        <div class="coldown">
                            <p>Invited</p>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
</body>
</html>