<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{match.Creator.owner.username}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'match.css' %}">
    <script>
        var reloadInterval = 15000;
        var rawStartedValue = '{{ match.started }}';
        var creator = '{{match.Creator.id}}'
        var valjoin = '{{match.Joined}}'
        if (rawStartedValue == 'False'){
            started=false
        }
        else{
            started=true
        }

        if (valjoin == 'None'){
            joined=false
        }
        else{
            joined=true
        }

        if(creator == '{{account.id}}'){
            var account = true
        }
        else{
            var account = false
        }
        function reloadPage() {
            location.reload(true);
        }
        var reloadTimer = setTimeout(reloadPage, reloadInterval);
        console.log(joined)
        if (started || (account && joined)){
            clearTimeout(reloadTimer);
        }
    </script>
<body>
    {% include 'navbar.html' %}
    <div class="secundary_box">
        <p>The match starts at <b>{{match.want_to_start|date:"M.d h:i A"}}</b></p>
        <h2>Players</h2>
        <a class="a_player" href="{% url 'profile' match.Creator.id %}">
            <div class="players">
                <img src="{{match.Creator.profile_picture.url}}" alt="">
                <div class="third_box">
                    <p>{{match.Creator.owner.username}}</p>
                    <div class="trophy_box">
                        <img id="trophy" src="../../media/all_stuff/Trophy.png" alt="">
                        <p>{{match.Creator.points}}</p>
                    </div>
                </div>
            </div>
        </a>
        {% for joined in match.Joined.all %}
            <a class="a_player" href="{% url 'profile' joined.id %}">
                <div class="players">
                    <img src="{{joined.profile_picture.url}}" alt="">
                    <div class="third_box">
                        <p>{{joined}}</p>
                        <div class="trophy_box">
                            <img id="trophy" src="../../media/all_stuff/Trophy.png" alt="">
                            <p>{{joined.points}}</p>
                        </div>
                    </div>
                    {% if not joined == account.party_group.Joined and account == match.Creator %}
                        <form method="post">
                            {% csrf_token %}
                            <button name="kick" value="{{joined.id}}">X</button>
                        </form>
                    {% endif %}
                </div>
            </a>
        {% endfor %}
        {% for i in user_reminder %}
            <div class="players oponent">
                <img class="gif" src="../../media/all_stuff/loading.gif" alt="">
                <p>Waiting for players</p>
            </div>
        {% endfor %}
    </div>
    {% if account != match.Creator %}
        <form class="form_leave" method="post">
            {% csrf_token %}
            <button name="leave">Leave Match</button>
        </form>
    {% else %}
        {% if match.Joined.all.count > 2 and match.want_to_start < time %}
            {% if not match.started %}
                <form class="form_leave" method="post">
                    {% csrf_token %}
                    <button name="start">Start Match</button>
                </form>
            {% else %}
                <form class="form_leave" method="post">
                    {% csrf_token %}
                    <button name="end">End Match</button>
                </form>
            {% endif %}
        {% else %}
        <form class="form_leave" method="post">
            {% csrf_token %}
            <button name="delete">Delete Match</button>
        </form>
        {% endif %}
    {% endif %}
</body>
</html>