<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
</head>
<body>
    <nav>
        <div class="dropdown">
            <button class="button_option">
                <div class="options">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </button>
            <div class="content">
                <div id="title_content">
                    <p>Options</p>
                </div>
                <a class="option" href="{% url 'history_matches' %}">
                    <div class="a_content">
                        <p>History Matches</p>
                        <img src="../../media/all_stuff/hisotry.png" alt="">
                    </div>
                </a>
                <a class="option" href="{% url 'search_match' %}">
                    <div class="a_content">
                        <p>Search Matches</p>
                        <img src="../../media/all_stuff/magnifying_glass.png" alt="">
                    </div>
                </a>
                <a class="option" href="{% url 'regions' %}">
                    <div class="a_content">
                        <p>Create Match</p>
                        <img src="../../media/all_stuff/Create.png" alt="">
                    </div>
                </a>
                <a class="option" href="{% url 'search_friends' %}">
                    <div class="a_content">
                        <p>Search Users</p>
                        <img src="../../media/all_stuff/search_friends.png" alt="">
                    </div>
                </a>
                <a id="last" href="{% url 'logout' %}">
                    <img src="../../media/all_stuff/X_icon.png" alt="">
                    <p>Log-out</p>
                </a>
            </div>
        </div>
        
        <a href="{% url 'index' %}">
            <img class="logo" src="../../media/all_stuff/Tennis_Ball_PNG_Clip_Art-1352(1).png" alt="">
        </a>

        <div class="profile_section">
            <a class="notifications" href="{% url 'notifications_friends' %}">
                <img {% if notifications == 0 %} class="no_noti" {% endif %} src="../../media/all_stuff/notification_bell.png" alt="">
                {% if notifications != 0 %}
                    <div id="notification_count">
                        <p>{{notifications}}</p>
                    </div>
                {% endif %}
            </a>
            <a class="profile_a" href="{% url 'profile' account.id %}">
                <div class="profile">
                    <img src="{{account.profile_picture.url}}" alt="">
                </div>
            </a>
        </div>
        
    </nav>
</body>
</html>