<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if account.owner == request.user %}
    <title>My Profile</title>
    {% else %}
    <title>{{account.owner.username}}</title>
    {% endif %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="principal_box">
        <div class="boxy">
            <div class="img_container">
                {% if account.homepage_picture %}
                    <img src="{{account.homepage_picture.url}}" alt="">
                {% else %}
                    <img src="../../media/profile_picture/default_homepage2.jpg" alt="">
                {% endif %}
            </div>
            <div class="profile_picture">
                <img src="{{target_account.profile_picture.url}}" alt="">
                <h2>{{target_account.owner.username}}</h2>
                {% if target_account.owner == request.user %}
                <a href="{% url 'edit' %}">Edit</a>
                {% else%}
                    {% if not friends %}
                        {% if friend_request %}
                            {% if friend_request.sender == account %}
                            <div class="sent">
                                <p>Friend request sent</p>
                            </div>
                            {% else %}
                                <form method="post">
                                    {% csrf_token %}
                                    <button name="accept">Accept Friend Request</button>
                                </form>
                            {% endif %}
                        {% else %}
                        <form method="post">
                            {% csrf_token %}
                            <button name="send">Add to friends</button>
                        </form>
                        {% endif %}
                    {% else %}
                        <p style="margin: 0;">Friends</p>
                    {% endif%}
                {% endif %}
            </div>
        </div>
    </div>
</body>