<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search_Match</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'search.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="first_box">
        {% if matches|length == 0%}
            <h1>No current matches</h2>
            <img id="gif" src="../../media/all_stuff/tennis.gif" alt="">
            
        
        {% else %}
            <h1>Current Matches</h1>
            <form class="clasify" method="post">
                {% csrf_token %}
                <div>
                    <input type="search" name="search" id="search" placeholder="Search User that can be in a match">
                </div>
                <div style="display: flex; align-items: center; margin-top: 10px;">
                    <label for="ranked">Ranked</label>
                    <input name="ranked" id="ranked" type="checkbox">
                    <label for="casual">Casual</label>
                    <input name="casual" id="casual" type="checkbox">
                    <button type="submit">Search</button>
                </div>
            </form>
        {% endif %}
    </div>
    <div class="principal_box">
        {% for match in matches %}
            <a href="{% url 'join' match.id %}">
                <div class="match">
                    <div class="head_match">
                        <p>{% if match.ranked %} Ranked {% else %} Casual {% endif %}</p>
                        <p id="time"><b>{{match.want_to_start|date:"M.d h:i A"}}</b></p>
                    </div>
                    <div class="match_all_inf">
                        <img src="{{match.Creator.profile_picture.url}}" alt="">
                        <div class="centered_inf">
                            <div class="inf">
                                <p>{{match.Creator}}</p>
                                <p><b>Players:</b> {{match.Joined.all.count|add:1}}/4</p>
                            </div>
                            <div class="match_inf">
                                <p><b>Region:</b> {{match.court.region}}</p>
                                <p><b>Court:</b> {{match.court}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
        
    </div>
</body>
</html>